<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgu.qmx.springbootbase.mapper.AdminRoleMapper">

	<select id="doSelectBySome" parameterType="com.ctgu.qmx.springbootbase.entity.AdminRole" resultType="com.ctgu.qmx.springbootbase.entity.AdminRole">
		SELECT * FROM admin_role
		<where>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="adminId != null">
					and admin_id = #{adminId}
				</if>
				<if test="roleId != null">
					and role_id = #{roleId}
				</if>
		</where>
	</select>

</mapper>
